{# templates/list.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Lista</title>
</head>
<body>
    <h1>Lista</h1>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Body</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.body }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
